body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: white;
  font-family: monospace
}
.terminal-container {
  width: 80%;
  max-width: 800px;
  height: 90vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.05);
}
.terminal-screen {
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: auto;
  min-height: 43%;
  max-height: 43%;
}
.terminal-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-family: inherit;
  font-size: inherit;
  background-color: rgba(255, 255, 255, 0.05);
  border-top: none;
  color: white;
  outline: none;
  box-shadow: none;
}
.terminal-info {
  color: #a9a9a9;
  font-size: medium;
  padding-left: 2%;
}
